.container-fluid {
  display: grid;
}

.card .fav-btn {
  position: absolute;
  place-items: center;
  top: 5%;
  right: 5%;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  /* background: #f35d42; */
  /* background: #00aae6; */
  background: #70c9fa;
  opacity: 0.5;
  transition: ease-in 0.2s;
}

.card .fav-btn:hover {
  opacity: 1;
  transform: scale(1.05);
  color: #3f3f3f;
}

.fa-heart {
  color: #d5d5d5;
  font-size: 32px;
  padding-top: 2px;
}

.comment-section {
  padding-left: 15vw;
  padding-right: 10vw;
}

.comment-message {
  background: var(--comment-bg);
  padding: 15px;
  border-radius: 5px;
}

.col-12 h1 {
  text-shadow: 1px 1px 5px #000;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
  transition: 0.2s;
}

.fa-youtube {
  color: #ff0000;
  transition: 0.2s;
}

.fa-instagram {
  color: #517fa4;
  transition: 0.2s;
}

.fa-facebook:hover,
.fa-youtube:hover,
.fa-instagram:hover {
  transform: scale(1.1);
  color: var(--social-cover);
}

.card-body {
  /* color: var(--card-text); */
  color: var(--bg);
  background: var(--card-bg);
}

.card {
  border: none;
  border-radius: 100px;
}

.view-img {
  background: var(--card-bg);
}

.card-img-top {
  width: 100px;
}
